<!DOCTYPE html>
<html>
<head>
    <title>Game Session</title>
    <link rel="stylesheet" type="text/css" href="templates/css/monopoly.css">
</head>
<body>

    <h1>Game Session</h1>
    <a href="https://www.instagram.com/d_nechay_/">Legenda</a>
    <form action="" onsubmit="joinGame(event)">
        <input type="text" id="sessionNum" autocomplete="off" placeholder="Enter session number"/>
        <input type="text" id="playerName" autocomplete="off" placeholder="Enter player name"/>
        <button>Join Game</button>
    </form>

    <button onclick="rollDice()">Roll Dice</button>
    <table>
        <thead>
            <tr>
                <th id="playerId">Player ID</th>
                <th>Player</th>
                <th>Money</th>
                <th>Queue</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody id="players">
            <!-- Player rows will be added here dynamically -->
        </tbody>
    </table>
    <script src="templates/js/monopoly.js"></script>
</body>
</html>